#faculty {
    display: flex;
    flex-direction: column;
    background: url("../res/ballet3.jpg") center;
    background-size: 55%;
    background-color: rgba(241, 158, 241, 0.486);
    width: 100%;
    height: 1200px;
    position: relative;
    top: 0px;
    left: 0px;
    }
    #pad1{
    display: flex;
    justify-content: space-between;
    }
    
    #pad1,#pad2{
    margin-right: 18%;
    }
    #pad3{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    }
    
    #pad4{
    display: flex;
    justify-content: space-around;
    }
    
    #image{
    height: auto;
    }
    
    #pad1-head{
    width: 30%;
    }